<!DOCTYPE html>
<html>
<head>
  <title>MusicConcertNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<header>
		<ul class="nav nav-tabs navbar-fixed-top">
			<li role="presentation"><a href="/">Home</a></li>
			<li role="presentation"><a href="#">Concert List</a></li>
		</ul>
	</header>

<%= yield %>

</body>
</html>
