<div align="center">

<h1> Welcome </h1>
<p><%= @wrong %></p>
<p>Please Login:</p>

<form action="/login" method="post">

		<input type="text" name="username" placeholder="Your Username">
		<input type="password" name="password" placeholder="Your Password">
		<button type="submit" name="login" value="log_in">Login</button> 
</form>
</div>

