<h1>Welcome to the Auction BITCHES</h1>
<!-- <p>Find me in app/views/site/home.html.erb</p> -->

<%#= link_to('Check out PRODUCTS', user_products_path(@user)) %>
<%= link_to('Check out USERS', users_path) %>
