<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="css/styles">
</head>
<body>
	<h1>My Brand New Blog</h1>
	<section>
		<article>
			<h2>Some favorite quotes!</h2>
			<h4>Date: 25 January 2016</h4>
			<h3>by 
				<a href="https://en.wikipedia.org/wiki/Max_Ehrmann"><strong>Max Ehrmann</strong></a>
			</h3>
				<p>One of my favorite quotes is an excerpt from <strong>Desiderata</strong>.<br><br>
				"You are a child of the universe, no less than the trees and the stars;<br>
				you have a right to be here.<br>
				And whether or not it is clear to you, no doubt the universe is unfolding as it should."
				</p>
				<img src="http://d.gr-assets.com/authors/1220360082p5/177071.jpg" alt="Max Ehrmann circa 1911">
				<ul>
					<li>
						<a href="http://www.fleurdelis.com/desidera.htm">History of Desiderata</a>
					</li>
					<li>
						<a href="http://allpoetry.com/Max-Ehrmann">Other works by Max Ehrmann</a>
					</li>
				</ul>
		</article>
	</section>
	<section>
		<form action="/form" method="post">
			<label>Name:</label>
			<input type="text" name="name" placeholder="Your name">
				<br><br>
			<label>Email:</label>
			<input type="email" name="email" placeholder="Your email@email.com">
				<br><br>
			<textarea name="comment" placeholder="Your comment goes here."></textarea>
				<br><br>
			<button type="submit" name="submit">
				Submit
			</button>
				<br><br>
			<label>Remember me?</label>
			<input type="radio" name="remember">
		</form>
	</section>
</body>
</html>




