<h2>Comments:</h2>
<ul>
	<% @comments.each do |comment| %>
		<li>
			<div class="alert alert-info" role="alert">
			<%=comment.name %> | 
			<%=comment.email%>
			<br>
			<hr>
			<%=comment.body%>
			</div>
			<br>
		</li>
	<%end%>
</ul>