body {
	background-image: url(https://trello-backgrounds.s3.amazonaws.com/53baf533e697a982248cd73f/4200x4200/48dbf0b5a546541e847e267a5dcd2201/shutterstock_134707556.jpg);
	background-size: cover;
	/*font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;*/
}

.home_nav {
	color: white;
  background-color: Transparent;
  border-color: Transparent;
  padding: 8px;
  font-size: 14px;
  font: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-weight: 700;
}

.trello {
	display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}

.trello:hover {
	opacity: 1.0;
}

.navbar_right {
	padding: 8px;
	color: white;
  font-size: 14px;
  font: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-weight: 700;
  margin-left: auto;
  margin-right: 0;
}

.login {
  background: rgba(255, 255, 255, 0.4);
  border-color: Transparent;
}