<!-- form, search bar, letter searhability -->
<form action="/search" method="POST">
<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
<div>
	<input name="letter" id="search_letter">
	</textarea>
	<button type="submit">search</button>
</div>
</form>
<ul>
	<% @contact.each do |c| %>
		<li><a href="/contacts/<%=c.id%>"><%="Name: #{c.name}"%></a>
	<% end %>
</ul>
<a href="/new">Sign up to the contact list!</a>
<br>
<a href="/favorites">Check out your favorites</a>
