<h1>Welcome to <%= @contact.name %>'s Page!</h1>
<p><%= @contact.address %></p>
<p><%= @contact.email_address %></p>
<p><%= @contact.phone_number %></p>
<a href="/contacts">Go back to the homepage</a>