<!-- views/add.erb -->
<!doctype html>
<html>
<head>
	<title>Online Calculator</title>
</head>
<body>
  <h1>RESULTS</h1>

<%= "#{@first} #{@op} #{@second} = #{@result}" %>


<form action="/stored" method="POST">
<!-- could have used a hidden input instead here for when there are several fields being saved -->
	<button type="submit" name="value" value="<%= @result %>">SAVE</button>
</form>

</body>
</html>