<h1>Welcome to the Sandwich Shop</h1>

<% if current_user.nil? %>
	<a href="/users/sign_in">Log In</a><br>
	<a href="/users/sign_up">Sign Up</a><br>
<% else %>
	<h3>List of Sandwiches:</h3>
		<ul>
		<% @sandwiches.each do |sandwich| %>
		<a href="/sandwiches/<%=sandwich.id%>"><%=sandwich.name%></a>
		<%end%>
		</ul><br>
	<a href="/users/sign_out" data-method="DELETE">Log Out</a>
<%end%>