

<h1>My first Sinatra</h1>
<p>
	<b>Author:</b>
	Anais
</p>


<% if Date.today.tuesday? %>
<p>
	Anais will eat pizza because it is
	<strong>Tuesday</strong>.
</p>
<% end %>
<p>
	Today is <%= Date.today %>.
</p>
